body {
    max-width:1200px;
    margin: 0;
    padding: 10px;
}

/*** MOBILE ***/

/* Header area styles */
header {
    background: black;
    padding: 10px;
}

header > .top-container {
    background: grey;  
    padding: 10px;
}

header > .top-container > .header-side-box {
    background: red;
    height: 10px; /* we only give this height because there is no content for the moment */
}

header > .top-container > .header-middle-box {
    background: red;
    height: 10px; /* we only give this height because there is no content for the moment */
    margin: 10px 0; /* margin-top = 10px and margin-bottom = 10px */
}

header > .bottom-container {
    background: orange;  
    margin-top: 5px;
    padding: 10px;
}

header > .bottom-container > .header-main-box {
    background: yellow;
    height: 10px; /* we only give this height because there is no content for the moment */
}

/* Main area styles */
main {
    margin-top: 10px;
    padding: 10px;
    background: yellow;
}
    
main > .main-container {
    background: grey;
    padding: 10px;
}

main > .main-container > .main-box {
    background: blue;
    height: 10px; /* we only give this height because there is no content for the moment */
    margin-bottom: 10px;
}

main > .main-container > .bottom-main-box {
    background: steelblue;
    height: 10px; /* we only give this height because there is no content for the moment */
}

main > .side-container {
    background: red;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main > .side-container > .side-box {
    background: khaki;
    height: 10px; /* we only give this height because there is no content for the moment */
}

/* Footer area styles*/
footer {
    background: black;
    margin-top: 10px;
    padding: 10px;
}

footer .footer-container {
    background: gold;
    height: 10px; /* we only give this height because there is no content for the moment */
    
}


/*** TABLET variations ***/
@media only screen and (min-width: 600px) {
    
    /* Header area variations */
    header > .top-container {
        display: flex;
    }

    header > .top-container > .header-side-box {
        flex: 1;
    }

    header > .top-container > .header-middle-box {
        margin: 0 10px; /* margin-left: 10px and margin-right: 10px */
        flex: 4;
    }
    
    /* Main area variations */
    main > .main-container {
        /* the main container has a grid of 2 columns separated by 10px */
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }

    main > .main-container > .main-box {
        margin-bottom: 0;
    }

    main > .main-container > .bottom-main-box {
        grid-column: 1 / span 2; /* the bottom box occupies 2 columns */
    }
    
}

/*** DESKTOP variations ***/
@media only screen and (min-width: 768px) {
    /* Main area variations */
    main {
        background: black; /* the main area changes in color */
        display: flex;
    }
    
    main > .main-container {
        flex: 2;
    }

    main > .main-container > .main-box {
        margin-bottom: 0;
    }

    main > .main-container > .bottom-main-box {
        grid-column: 1 / span 2; /* the bottom box occupies 2 columns */
    }
    
    main > .side-container {
        flex: 1;
        margin-top: 0;
        margin-left: 10px;
    }
}




